@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* common style */
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
:root{
    --primary-orange-color: rgb(253, 110, 10);
    --primary-black-color: rgb(24, 24, 24);
    --secondary-black-color: rgb(71, 71, 71);
    --shade-black-color: rgb(117, 117, 117);
    --primary-white-color: rgb(255, 255, 255);
    --bg-shade-color: rgb(255, 248, 243);
    --hr-color: rgb(209, 209, 209);
}
.title{
    color: var(--primary-black-color);
}
.description{
    color: var(--shade-black-color);
    padding: 24px 0;
}
.btn{
    font-weight: 700;
    color: var(--primary-white-color);
    background-color: var(--primary-orange-color);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 15px 16px;
}
.btn_icon{
    padding-right: 10px;
}








/* header section */
.header{
    background-color: var(--bg-shade-color);
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: left center, right bottom;
    background-size: 85px, 700px;
}
.header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 185px 10px;
}
.header nav .nav_title{
    color: var(--primary-black-color);
    font-size: 40px;
    font-weight: 800;
}
.header nav .nav_title .letter_color{
    color: var(--primary-orange-color);
}
.header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.header nav ul li{
    list-style: none;
}
.header nav ul a{
    text-decoration: none;
    color: var(--secondary-black-color);
}
.header nav ul .nav_btn{
    padding: 14px 28px;
}

.header .banner{
    padding: 30px 0 0 185px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .banner .banner_container{
    width: 40%;
}
.header .banner .banner_container .banner_subtitle{
    font-size: 40px;
    font-weight: 600;
    color: var(--secondary-black-color);
    padding-bottom: 20px;
}
.header .banner .banner_container .banner_title{
    font-size: 70px;
    font-weight: 700;
    color: var(--primary-black-color);
}
.header .banner .banner_developer{
    padding-right: 30px;
    width: 45%;
}
.header .banner .banner_container .banner_btn{
    color: var(--primary-orange-color);
    background-color: var(--bg-shade-color);
    border: 1px solid var(--primary-orange-color);
    margin-left: 20px;
}







/* main section */
main{
    padding: 105px 185px;
}


/* about section */
.about{
    padding: 105px 126px;
    background-color: var(--bg-shade-color);
}
.about_box{
    text-align: center;
    border: 1px solid black;
    background-color: var(--primary-white-color);
}
.about .about_box .about_container{
    display: flex;
    justify-content: space-around;
}
.about .about_box .about_container .about_container_item .about_container_subtitle{
    color: var(--secondary-black-color);
}
.about .about_box .about_container .about_container_item .about_container_title{
    color: var(--primary-black-color);
    font-weight: 700;
}







/* skill section */
.skill{
    margin: 105px 0;
}
.skill .skill_header{
    text-align: center;
    margin-bottom: 40px;
}
.skill .skill_container{
    display: flex;
}
.skill .skill_container .item1{
    margin: 0 20px;
}
.skill .skill_container .item2{
    margin-left: 20px;
}
.skill .skill_container .skill_container_item{
    padding: 24px;
    width: 30%;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill .skill_container .skill_container_item img{
    height: 35px;
    width: 35px;
    padding-bottom: 24px;
}
.skill .skill_container .skill_container_item .skill_title{
    color: var(--primary-black-color);
}
.skill .skill_container .skill_container_item .description{
    padding: 16px 0;
}










/* resume section */
.resume .title{
    text-align: center;
    margin-bottom: 90px;
}
.resume .resume_container{
    display: flex;
    gap: 47px;
}
.resume .resume_container .resume_education_container{
    width: 100%;
}
.resume .resume_container .container_title{
    color: var(--secondary-black-color);
    margin-bottom: 24px;
}
.resume .resume_container .subject_title{
    color: var(--secondary-black-color);
    margin-bottom: 5px;
}
.resume .resume_container .place_name{
    color: var(--shade-black-color);
    font-weight: 600;
}
.resume .resume_container hr{
    margin-bottom: 24px;
    color: var(--hr-color);
}
.resume .btn_container{
    margin-top: 40px;
    text-align: center;
}







/* footer section */
.footer{
    padding: 105px 185px;
    background-color: var(--bg-shade-color);
    display: flex;
    /* gap: 40px; */
}
.footer .footer_left_container{
    width: 80%;
}
.footer .footer_left_container .description{
    font-size: 12px;
    width: 85%;
}
.footer .footer_left_container .footer_icons img{
    border: 1px dashed var(--hr-color);
    padding: 2px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.footer .footer_left_container .footer_icons .footer_icon{
    margin: 0 10px;
}

.footer .footer_right_container .title{
    margin-bottom: 23px;
}
.footer .footer_right_container form input, textarea{
    margin-bottom: 20px;
    padding: 15px 24px;
    width: 85%;
    border: none;
}
.footer .footer_right_container form button{
    padding: 14px 28px;
}

